#root {
  max-width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
}

.read-the-docs {
  color: #888;
}

.dropdown-app{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 40px;
  width: auto;
  align-items: end;
}

.content-app {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.body-noscroll{
  overflow: hidden;
}
